// Specific CSS for your home-page
.banner-container{
position: relative;
}

.banner{
  position: absolute;
  top: 0;
  left: 0;
  z-index:10;
}

h1{
  font-size: 40px;
}

h2{
  font-size: 24px;
}


.tagline{
    color: #BD7142;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 40px;


}
