<div class="footer">
  <div class="footer-copyright">
    Playground., un projet conçu par <i class="fa fa-heart"></i> du sport !
  </div>
  <div class="footer-small">
     Nous écrire : contact@playground.fr
  </div>

</div>
