<div class="footer">
  <div class="footer-copyright">
    Playgrounds., un projet conçu par <i class="fa fa-heart"></i> du sport !
  </div>
  <div class="footer-links">
    <p>Nous écrire : contact@playgrounds.fr</p>
  </div>
</div>
