<div class="banner" >
  <div class="banner-content">
    <h1>Playground</h1>
    <p><span id="banner-typed-text"></span></p>
  </div>
  <div class="banner-button">
    <%= link_to "Play !", playgrounds_path, class: "btn-white-border" %>
  </div>
</div>
