h1 {
  text-align: center;
  padding-top: 30px;
}

.show-content{
  display: flex;
  text-align: center;

}
.show {
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  position: relative;
  margin: 50px 50px;
}
.show-user {

  width: 40px;
  border-radius: 50%;
}
.show-category {

  text-align: center;

  font-size: 15px;
  text-transform: uppercase;
  margin-top: 50px;
}

.show-price {
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}

.show-address {
  text-align: center;
  font-size: 20px;
  font-style: bold;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 20px;
}

.show-description {
  text-align: justify;
  font-size: 14px;
  padding: 30px 15px 15px 15px;
}

.show-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.btn {
    background-color: rgba(189,113,66,0.7); /* Green */
    border: none;
    color: white;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 16px;
    width: 200px;
  &:hover{
background-color: rgb(189,113,66);
color:white;
  }
}



.resa-embeded {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.border{
  border:solid 1px black;
}

.show-playground{
  width:67vw;
}
.show-calendar{
  width:33vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
