h1 {
text-align: center;
padding-top: 30px;
}

.show-general{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #bdcebe;
}
.show {
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  position: relative;
  margin: 50px 50px;
}
.show-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.show-category {
  position: relative;
  text-align: center;
  top: 20px;
  left: 20px;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 50px;
}

.show-price {
  position: relative;
  text-align: center;
  top: 20px;
  left: 20px;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}

.show-address {
  position: relative;
  text-align: center;
  top: 20px;
  left: 20px;
  font-size: 20px;
  font-style: bold;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 20px;
}

.show-description {
  position: relative;
  text-align: center;
  font-style: italic;
  top: 20px;
  bottom: 10px;
  left: 10px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
}

.show-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.btn {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 16px;
    width: 200px;
}

.img-user-show {
display: flex;
align-items: center;
justify-content: space-around;
margin-bottom: 30px;
}
