.reservation-dash {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}

.reservation-dash:last-child {
  border-bottom: none;
}
.reservation-date {
  flex-grow: 1;
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}

.reservation-status {
  font-size: 14px;
  font-weight: bold;
}

.avatar-large {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dashboard h2 {
  font-size: 24px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.reservation-user{
  width: 200px;
  display: flex;
  align-items: center;
}
.reservation-user span {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}

.msg{
  font-style: italic;
  color: #686868;
}

.img-user{
  width:50px;
  margin-right: 15px;
}
