.reservation-dash {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  margin: 20px 40px;
}

.reservation-dash:last-child {
  border-bottom: none;
}
.reservation-date {
  // flex-grow: 1;
  width: 800px;
  padding-left: 10px;
  font-size: 16px;
  color: rgba(0,0,0,0.7);
}

.reservation-status {
  width: 400px;
  font-size: 18px;
  font-weight: bold;
}
.reservation-user{
  width: 300px;
  display: flex;
  align-items: center;
}

.reservation-user p {
  font-size: 16px;
  font-weight: lighter;
  opacity: 0.6;
  margin: 5px;
}

.pending {
  color:orange;
}
.confirm {
  color:green
}
.decline{
  color:red;
}


.avatar-large {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dashboard h2 {
  font-size: 24px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px;
}


.msg{
  font-style: italic;
  color: #686868;
}

.img-user{
  width:50px;
  margin-right: 15px;
}
.title{
    font-weight: bold;
    font-size:16px;
}

.hidden{
  display: none;
}

.fa-check{
  font-size: 30px;
  color: green;
}

.fa-times{
  font-size: 30px;
  color: red;
}

.btn-add {
  margin-top: 30px;
}
