
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgb(189, 113, 66);
  position: absolute;
  bottom:0 ; left: 0; right: 0;
}
.footer-small {
  font-size: 12px;
}

.footer .fa-heart {
  color: #D23333;
}
