.form-container{
  width: 300px;
  margin:auto;
}

.new-search-bar{
width: 100%;
font-size: 18px;
font-style: italic;
height: 60%;
border: 1px;
padding: 5px;
padding-left: 5px;
display: flex;

}

.form-control{
  width: 50%;
  margin-left: 5px;
  margin-right: 5px;
}


