.form-container{
  width: 300px;
  margin:auto;
}

.form-container h2{
  padding-left: 5px;
}

.form-container h1{
  margin-top: 5px;
  font-size: 24px;
  padding-left: 5px;
}

.new-search-bar{
width: 100%;
font-size: 18px;
font-style: italic;
height: 60%;
border: 1px;
padding: 5px;
padding-left: 5px;
display: flex;

}

.form-control{
  width: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

.form-inputs{
  width: 300px;
}

.form-control-label {
  padding-left: 5px;
}

.form-text {
  padding-left:5px;
}

.form-actions {
  margin-left: 10px;
}

.form-check-label {
  margin-left: 10px;
  font-size: 15px;
}

.form-check {
  padding-left: 5px;
}

.form-control-file {
  font-size: 15px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.user_photo label {
  padding-left: 5px;
}
